#
# init.recovery.mt8781.rc - Lenovo Tab Plus (TB351FU)
# Optimized for ADB and Mounting
#

on init
    # Correct Symlinks for TB351FU UFS
    mkdir /dev/block/bootdevice 0755 root system
    symlink /dev/block/platform/soc/11270000.ufshci /dev/block/bootdevice
    symlink /dev/block/platform/soc/11270000.ufshci/by-name /dev/block/by-name

    # Modern USB ConfigFS
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0
    
    # Touch initialization properties
    setprop ro.vendor.mtk-tpd.no_init 0
    setprop ro.vendor.touch.panel.init 1

on fs
    # Set adb root
    setprop service.adb.root 1
    
    # Symlink for touch driver
    mkdir /vendor 0755 root root
    mkdir /vendor/firmware 0755 root root
    symlink /lib/modules /vendor/firmware/touchpanel

service watchdog_killer /system/bin/sh /system/bin/watchdog_killer.sh
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on boot
    start watchdog_killer
    # Start the Golden Kick service for Touch and Health
    start golden_kick
    write /sys/class/leds/lcd-backlight/brightness 1200

service golden_kick /system/bin/sh /sbin/golden_kick.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:recovery:s0
