# CONFIG_MTK_GED is not set
# CONFIG_MTK_FPSGO_V3 is not set
# CONFIG_MTK_SCHED_EAS is not set
# CONFIG_MTK_TASK_TURBO is not set
# CONFIG_MTK_AEE_FEATURE is not set
# CONFIG_MTK_GKI_MT6789_COMMON is not set
# CONFIG_MTK_CCMNI is not set
# CONFIG_TRUSTONIC_TEE_SUPPORT is not set
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
